<mat-toolbar color="primary">
  <span routerLink="/dashboard">The Project</span>
  <button mat-button routerLink="/inbox">Inbox</button>
  <button mat-button routerLink="/sent">Sent</button>
  <div class="toolbar-right">
    <form class="example-form" [formGroup]="searchForm">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchControl">
      </mat-form-field>
      <button mat-button (click)="searchBtn()" class="search-btn">Search</button>
    </form>
  </div>
  <div class="toolbar-right">
    <button mat-button (click)="logOut()">Log out</button>
  </div>
</mat-toolbar>
