@import "../general/Sass/general";
@import "../general/Sass/colors";
.toolbar-right {
  width: 100%;

  button, form {
    float: right;
  }

  .example-form {
    margin-top: 10px;
  }
}

.search-btn {
  top: 25px
}
