<a routerLink="/login">Login</a>
<div class="registration-area">
  <div class="middle-area">
    <form class="register-form" [formGroup]="registerForm">
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput
                 name="firstName"
                 formControlName="firstName"
                 [formControl]="firstNameControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="firstNameControl.hasError('required')">First Name field is Empty.</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput name="lastName"
                 formControlName="lastName"
                 [formControl]="lastNameControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="lastNameControl.hasError('required')">Last Name field is Empty.</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput
                 name="email"
                 formControlName="email"
                 [formControl]="emailControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailControl.hasError('email')">Email field is not valid.</mat-error>
          <mat-error *ngIf="emailControl.hasError('required')">Email field is Empty.</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Gender</mat-label>
          <mat-select

            [formControl]="genderControl"
          >
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{gender}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="genderControl.hasError('required')">Gender field is not selected.</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" name="password" matInput formControlName="password">
          <mat-error *ngIf="registerForm">Password field is Empty.</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-button
                (click)="registration()"

        >Registration
        </button>
      </div>
    </form>
  </div>
</div>
