<app-header (searchName)="searchValue=$event"></app-header>
<div class="inbox-sheet">
  <div class="middle-sheet">
    <h2>Inbox Messages</h2>
    <table class="table">
      <thead>
        <tr>
          <ng-container *ngFor="let thead of TABLE_HEADERS">
            <th scope="col">{{thead}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inbox of allMessages; index as key">
        <th scope="row">{{key}}</th>
        <td>{{inbox.email}}</td>
        <td>{{inbox.text}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
