<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Gender</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of usersList; index as key">
    <th scope="row">{{key}}</th>
    <td>{{contact.firstName}}</td>
    <td>{{contact.lastName}}</td>
    <td>{{contact.email}}</td>
    <td>{{contact.gender}}</td>
  </tr>
  </tbody>
</table>
