<a routerLink="/registration">Registration Page</a>
<div class="login-area">
  <div class="middle-area">
    <form class="register-form" [formGroup]="loginForm">
      <div class="row">
        <h1>Welcome</h1>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput
                 name="Email"
                 formControlName="email"
                 [formControl]="emailControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailControl.hasError('required')">First Name is Empty.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" name="password" matInput formControlName="password">
          <mat-error *ngIf="loginForm">
            Password is Empty.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row beckErr" *ngIf="beckErr">
        <span>Email or Password not correct.</span>
      </div>
      <div class="row">
        <button mat-button
                (click)="login()"
        >Login
        </button>
      </div>
    </form>
  </div>
</div>

