@import "../general/Sass/general";
@import "../general/Sass/colors";

.login-area {
  text-align: center;

  .middle-area {
    margin: 15px auto;

    .beckErr {
      color: $error-color;
      margin-bottom: 10px;
    }
  }
}
