@import "../Sass/colors";
.table {
  width: 100%;
  thead {
    tr{
      background: $table-header-color;
      height: 35px;
    }
  }
  tbody {
    tr {
      height: 35px;
      background: $table-body-color;
    }
  }
}
