<div class="msg-input">
  <form class="example-form">
    <mat-form-field class="example-full-width" [formGroup]="messageForm">
      <mat-label></mat-label>
      <input matInput [formControl]="message" [(ngModel)]="modelMessage">
    </mat-form-field>
    <button mat-button (click)="sendMsg()">Send</button>
  </form>
</div>
<div class="messages-list">
  <div *ngFor="let message of allMessages" class="msg">
    <div [className]="message.email !== generalService.getLocalStorage('jwt') ?'friends-msg':''">
      <span>{{message.text}}</span>
    </div>
  </div>
</div>

