@import "../general/Sass/general";
@import "../general/Sass/colors";
.messages-list {
  background-color: aliceblue;
  height: 70%;
}

.messages-list {
  overflow-y: auto;
}

.msg {
  margin: 10px;
  width: 95%;
  min-height: 50px;

  div {
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid green;
    min-height: 29px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    span {
      font-size: 12px;
    }
  }

  .friends-msg {
    background: white;
    float: right;
  }
}

.msg-input {
  border-bottom: 2px solid $grey;
  input {
    width: 70%;
  }
}
