<!--<router-outlet></router-outlet>-->
<app-header (searchName)="searchValue=$event"></app-header>

<div class="dashboard-sheet">
  <div class="middle-sheet">
    <app-contacts [searchName]="searchValue"></app-contacts>
    <div class="messages-sheet">
      <span class="messages">Messages</span>
      <app-messages [searchValue]="searchValue"></app-messages>
    </div>
  </div>
</div>
