
.dashboard-sheet {
  text-align: center;
  .middle-sheet {
    width: 60%;
    margin: 15px auto;
    .messages-sheet {
      background: aliceblue;
      border: 1px solid grey;
      box-shadow: -3px -2px 6px #666;
      position: fixed;
      bottom: 0;
      right: 0;
      height: 260px;
      width: 333px;
    }
  }
}

.messages {
  font-size: 18px;
  color: #3f51b5;
}
